#root {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ADEBB3;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 950px;
  padding: 2rem;
  background-color: #F5FFFA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: stretch; /* Ensures child elements stretch to the form's width */
}

h1 {
  font-size: 2rem;
  
  margin-bottom: 1rem;
  text-align: center;
  color: black;
}

label {
  font-weight: bold;
  font-size: 1rem;
  color: black; /* Set label color to black */
  display: block; /* Ensures the label is on its own line */
  text-align: left; /* Aligns the label to the left */
  margin-bottom: 0.5rem; /* Adds spacing between the label and the input */
}

input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Ensures all input boxes are the same width */
  box-sizing: border-box; /* Includes padding and border in the width */
}

button {
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #535bf2;
}

p {
  margin-top: 1rem;
  text-align: center;
  color: black;
}

p button {
  background: none;
  border: none;
  color: #646cff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

p button:hover {
  color: #535bf2;
}