.event-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.red-border {
  border-left: 5px solid red; /* Red indicator for "My Event" */
}

.blue-border {
  border-left: 5px solid blue; /* Blue indicator for "Participating Event" */
}

.event-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.event-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.event-time {
  font-size: 0.9rem;
  color: #999;
}