#root {
  background-color: #ffffff; /* Set the background color to white */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  margin: 0;
  padding: 0;
}

.my-account-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.my-account-container h1 {
  font-size: 2rem;
  color: #333333;
  margin-bottom: 20px;
}

.my-account-container p {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 20px;
}

.my-account-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-account-container ul li {
  font-size: 1rem;
  color: #333333;
  margin: 10px 0;
  text-align: left;
}

.my-account-container ul li strong {
  color: #646cff;
}